<h1>Listing api_stadia</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @api_stadia.each do |api_stadium| %>
      <tr>
        <td><%= link_to 'Show', api_stadium %></td>
        <td><%= link_to 'Edit', edit_api_stadium_path(api_stadium) %></td>
        <td><%= link_to 'Destroy', api_stadium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stadium', new_api_stadium_path %>
